<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Login | DeRiche</title>
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href="{{ asset('style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="container-fluid" id="wrapper">
    <header>
        <h1 id="logo" class="logo">DeRiche Agency, Inc.</h1>
    </header>

    <div class="container">
        <form action="{{ path('Login Form') }}" method="post" id="login" class="form-signin">
            <header><h2 class="form-signin-heading text-center">Please sign in &nbsp;</h2></header>
            <hr/>

            {% if error %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>

            {% endif %}

            <label for="username" class="sr-only">Username</label>
            <input class="form-control" name="_username" type="text"
                   id="username" placeholder="Username" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input class="form-control" name="_password" type="password"
                   id="password" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/"/>
        </form>
    </div> <!-- /container -->

    <br/>
    <br/>

    <footer>
        Copyright &copy; 2017
        <span class="badge badge-danger">Syed A.</span>
        <span class="badge badge-danger">Samuel Seidel</span>
        <span class="badge badge-warning">Ryan Garner</span>
        <span class="badge badge-warning">Greg S.</span>

        <br/>

        Licensed for Education use.

        <a href="mailto:samuel@samistine.com">samuel@samistine.com</a>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="{{ asset('static/tether.min.js') }}"></script>
</body>
</html>


{#https://getbootstrap.com/docs/4.0/examples/signin/#}