{% extends '@App/base.html.twig' %}

{% block body %}
    <h2>Audit Dashboard</h2>
    <p>This page will be used by the admin to generate audits.</p>
    <form action="individual" type="POST">
        <div class="form-group col-sm-8">
            <label for="name" class="col-form-label">Generate an audit based on the individual:</label>
            <input id="name" name="name" class="form-control" placeholder="John Oliver" required=""
                   style="margin-bottom:5px;">
            <button type="submit" class="btn btn-primary btn-block">Get Notes</button>
        </div>
    </form>
    <form action="dates" type="POST">
        <div class="form-group col-sm-8">
            <label for="name" class="col-form-label">Generate an audit based on date range:</label>
            <div class="input-daterange input-group" id="datepicker" style="margin-bottom:5px;">
                <input type="text" class="input-sm form-control" name="start"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end"/>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Get Notes</button>
            <p>Warning: This only shows submitted notes.</p>
        </div>
    </form>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <a href="db-backup" download target="_blank"><button type="backupdb" class="btn btn-primary btn-block">Backup Database</button></a>
        </div>
    </div>
    {% if notes is defined %}
        <div>
            <hr>
            {% if individual is defined %}
                <h2>Individual: {{ individual }}</h2>
            {% endif %}
            <table id="AllNotes" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                <tr>
                    <th>Staff</th>
                    <th>Individual</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Export</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes if note.state != constant('DRAFT', note) %}
                    <tr>
                        <td>{{ note.staff.firstName }} {{ note.staff.lastName }}</td>
                        <td> {{ note.individual.firstName }} {{ note.individual.lastName }}</td>
                        {% set statusarray = { 10: 'Draft', 20: 'Awaiting Approval', 30: 'Pending Correction', 40: 'In Database' } %}
                        <td>{{ statusarray[note.state] }}</td>
                        {% if note.state == 10 or note.state == 20 or note.state == 30 %}
                            <td>Not in Database</td>
                        {% else %}
                            <td>{{ note.submittedAt|default(date('0'))|date('F j, Y') }}</td>
                        {% endif %}
                        <td><a href="../../../reviewer/export/{{ note.uuid }}" download target="_blank">
                                <button type="button" class="btn btn-primary">Export</button>
                            </a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <!-- Include Required Prerequisites -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>
    <script type="text/javascript">
        $(function () {
            $('.input-daterange input').datepicker({
                autoclose: true,
                todayHighlight: true,
                endDate: '0',
            });
        });
    </script>
{% endblock %}