{% extends '@App/base.html.twig' %}

{% block body %}
    <h2>Audit Dashboard</h2>
    <p>This page will be used by the admin to generate audits.</p>
    <!-- Trigger the modal with a button -->
                    <button style="padding:7px 18px; border-radius: 15px; margin-bottom:15px;" type="button" class="btn btn-outline-info btn-md" data-toggle="modal" data-target="#myModal">Help</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius:15px;">
                            <div class="modal-header bg bg-info"  style="border-radius:13px 13px 0px 0px;">
                                <h4 class="modal-title">Help for Auditing Tools</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                There are 2 ways to generate an audit:<br><br>
                                    Use the Individual’s name:<br>
                                        All notes will appear in the audit.
                                        Type in the individual’s name and press “Get Notes”.
                                        The notes will then appear.<br><br>
                                    Use a date range:<br>
                                        Enter the date range then press “Get Notes”.
                                        The notes will then appear.
                                        <mark>WARNING:</mark> Only notes submitted to the database will be in this audit.
                            </div>
                            <div class="modal-footer">
                            <button style="border-radius:15px" type="button" class="btn btn-success" data-dismiss="modal">I've got this!</button>
                            </div>
                        </div>
                        
                        </div>
                    </div>
    <form action="individual" type="POST">
        <div class="form-group col-sm-8">
            <label for="name" class="col-form-label">Generate an audit based on the individual:</label>
            <input id="name" name="name" class="form-control" placeholder="John Oliver" required=""
                   style="margin-bottom:5px; border-radius: 15px;">
            <button type="submit" class="btn btn-info btn-block" id="buttons">Get Notes</button>
        </div>
    </form>
    <form action="dates" type="POST">
        <div class="form-group col-sm-8">
            <label for="name" class="col-form-label">Generate an audit based on date range:</label>
            <div class="input-daterange input-group" id="datepicker" style="margin-bottom:5px;">
                <input type="text" class="input-sm form-control" name="start" style="border-radius: 15px;"/>
                <span class="input-group-addon" style="border-radius: 15px;">to</span>
                <input type="text" class="input-sm form-control" name="end" style="border-radius: 15px;"/>
            </div>
            <button type="submit" class="btn btn-info btn-block" id="buttons">Get Notes</button>
            <p>Warning: This only shows submitted notes.</p>
        </div>
    </form>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12"></div>
        
    </div>
    {% if notes is defined %}
        <div>
            <hr>
            {% if individual is defined %}
                <h2>Individual: {{ individual }}</h2>
            {% endif %}
            <table id="AllNotes" class="table table-hover table-condensed" cellspacing="0">
                <thead>
                <tr>
                    <th>Staff</th>
                    <th>Individual</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Print</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes if note.state != constant('DRAFT', note) %}
                    <tr>
                        <td>{{ note.staff.firstName }} {{ note.staff.lastName }}</td>
                        <td> {{ note.individual.firstName }} {{ note.individual.lastName }}</td>
                        {% set statusarray = { 10: 'Draft', 20: 'Awaiting Approval', 30: 'Pending Correction', 40: 'In Database' } %}
                        <td>{{ statusarray[note.state] }}</td>
                        {% if note.state == 10 or note.state == 20 or note.state == 30 %}
                            <td>Not in Database</td>
                        {% else %}
                            <td>{{ note.submittedAt|default(date('0'))|date('F j, Y') }}</td>
                        {% endif %}
                        <td><a href="../../../reviewer/export/{{ note.uuid }}" download target="_blank">
                                <button type="button" class="btn btn-outline-success btn-sm" id="buttons">Print</button>
                            </a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <!-- Include Required Prerequisites -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>
    <script type="text/javascript">
        $(function () {
            $('.input-daterange input').datepicker({
                autoclose: true,
                todayHighlight: true,
                endDate: '0',
            });
        });
    </script>
{% endblock %}