{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.query.get("error") == "Multiple" %}
        <div class="alert alert-danger" role="alert">
            <strong>Unable to Create Note:</strong> Multiple patients were found. We do not deal with this conflict well. Please change one of the patient names.
        </div>
    {% endif %}
    {% if backnotes != [] %}
        <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong> You have kicked-back notes. Please correct these issues before submitting a new
            note.
        </div>
        <section id="backnotes">
            <h1>Kicked-Back Notes</h1>
            <table id="DraftNotes" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                <tr>
                    {#<th>ID</th>#}
                    <th>Individual</th>
                    <th>Creation Date</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                {% for note in backnotes %}
                    <tr>
                        <td>{{ note.individual.firstName }} {{ note.individual.lastName }}</td>
                        <td>{{ note.createdAt|default(date('0'))|date('F j, Y h:m A') }}</td>
                        <td><a href="create/{{ note.individual.uuid }}">
                                <button type="button" class="btn btn-primary">Edit</button>
                            </a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
    {% if draftnotes != [] %}
        <section id="draftnotes">
            <h1>Draft Notes</h1>
            <table id="DraftNotes" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                <tr>
                    {#<th>ID</th>#}
                    <th>Individual</th>
                    <th>Last Modification Date</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                {% for note in draftnotes %}
                    <tr>
                        <td>{{ note.individual.firstName }} {{ note.individual.lastName }}</td>
                        <td>{{ note.modifiedAt|default(date('0'))|date('F j, Y h:m A') }}</td>
                        <td><a href="create/{{ note.individual.uuid }}">
                                <button type="button" class="btn btn-primary">Edit</button>
                            </a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
    <section id="UserSelectIndividual">
        <h2>Create Note</h2>
        <!-- Look up user to create note -->
        <h5>Type in Individual's Name</h5>
        <form class="container form" action="findindividual/" type="POST">
            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="name" class="col-form-label">Individual Name</label>
                    <input id="name" name="name" class="form-control" placeholder="Fill in patient name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
        </form>
    </section>
{% endblock %}